@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


@theme {
  --breakpoint-main: 1200px;
  --container-main: 1200px;

  --color-primary: #8ba888;
  --color-secondary: #44624a;
  --color-accent: #c0cfb2;
  --color-netural: #f1ebe1;
}

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
